$color-1: #000;
$color-2: #fff;
$color-3: #F7F7F7;
$color-4: #25d366;
$color-5: rgb(247, 247, 54);

:export {
    color-1: $color-1;
    color-2: $color-2;
    color-3: $color-3;
    color-4: $color-4;
    color-5: $color-5;
}