@include container;
@include card;

.container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.mode-template-primary {
  background-color: $color-3;
  color: $color-1;
}

.mode-template-secondary {
  background-color: $color-1;
  color: $color-2;
}

.mode-template-primary-card {
  border-color: $color-1;
  background-color: $color-2;
}

.mode-template-secondary-card {
  border-color: $color-2;
  background-color: $color-1;
}

//QUALIFICATIONS SECTION
.qualifications {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  height: 650px;
  position: relative;
}

.qualifications-apresentations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 30px 250px 30px;
  z-index: 1;
}

.qualifications-apresentations h1 {
  font-size: 48px;
}

.qualifications-apresentations p {
  font-weight: 600;
  font-size: 18px;
}

//ANIMATION QUALIFICATIONS SECTION
.box-coffe-animation {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.steam {
  position: absolute;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #868686;
  margin-top: -75px;
  margin-left: 75px;
  z-index: 0;
  opacity: 0;
}

#steam1 {
  -webkit-animation: steam1 4s ease-out infinite;
  animation: steam1 4s ease-out infinite;
}

#steam3 {
  -webkit-animation: steam1 4s ease-out 1s infinite;
  animation: steam1 4s ease-out 1s infinite;
}

@-webkit-keyframes steam1 {
  0% {
    transform: translateY(0) translateX(0) scale(0.25);
    opacity: 0.2;
  }

  100% {
    transform: translateY(-200px) translateX(-20px) scale(1);
    opacity: 0;
  }
}

@keyframes steam1 {
  0% {
    transform: translateY(0) translateX(0) scale(0.25);
    opacity: 0.2;
  }

  100% {
    transform: translateY(-200px) translateX(-20px) scale(1);
    opacity: 0;
  }
}

#steam2 {
  -webkit-animation: steam2 4s ease-out 0.5s infinite;
  animation: steam2 4s ease-out 0.5s infinite;
}

#steam4 {
  -webkit-animation: steam2 4s ease-out 1.5s infinite;
  animation: steam2 4s ease-out 1.5s infinite;
}

@-webkit-keyframes steam2 {
  0% {
    transform: translateY(0) translateX(0) scale(0.25);
    opacity: 0.2;
  }

  100% {
    transform: translateY(-200px) translateX(20px) scale(1);
    opacity: 0;
  }
}

@keyframes steam2 {
  0% {
    transform: translateY(0) translateX(0) scale(0.25);
    opacity: 0.2;
  }

  100% {
    transform: translateY(-200px) translateX(20px) scale(1);
    opacity: 0;
  }
}

#cup {
  z-index: 1;
}

#cup-body {
  position: absolute;
  height: 150px;
  width: 250px;
  border-radius: 0 0 150px 150px;
  background-color: #fff;
  margin: auto;
  display: inline-block;
  overflow: hidden;
  z-index: 1;
}

#cup-shade {
  position: relative;
  height: 249px;
  width: 169px;
  background-color: #efefef;
  display: inline-block;
  margin-left: 42%;
  margin-top: -3px;
  transform: rotate(50deg);
  z-index: 1;
}

#cup-handle {
  position: relative;
  height: 72px;
  width: 70px;
  border-radius: 0 150px 150px 0;
  border: 15px solid #efefef;
  margin-bottom: 95px;
  margin-left: 237px;
  display: inline-block;
  z-index: 0;
}

#saucer {
  position: absolute;
  height: 25px;
  width: 280px;
  border-radius: 0 0 100px 100px;
  background-color: #e3e3e3;
  margin-top: -44px;
  margin-left: -13px;
  z-index: 2;
}

#shadow {
  height: 10px;
  width: 260px;
  border-radius: 50%;
  margin-top: -22px;
  margin-left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}

//PROFILE DESCRIPTION
.profile-description {
  //background-color: gray;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.profile-description-apresentations {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-description-apresentations-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.profile-description-apresentations-text h2 {
  font-size: 48px;
}

.profile-description-apresentations-text p {
  font-weight: 600;
  font-size: 18px;
  width: 60%;
}

.card-skills {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-description-apresentations .card {
  width: 400px;
  height: 650px;
  margin: 15px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 15px 0 15px;
}

.card-icon {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

//MOBILE
//SECTION QUALIFICATIONS
@media only screen and (max-width: 768px) {
  .qualifications-apresentations h1 {
    font-size: 36px;
  }

  .qualifications-apresentations p {
    font-size: 16px;
  }

  #cup-body {
    height: 135px;
    width: 220px;
  }

  #cup-handle {
    height: 70px;
    width: 60px;
    margin-left: 200px;
  }

  #cup-shade {
    height: 215px;
    width: 120px;
    margin-left: 50%;
    margin-top: -12px;
  }

  #saucer {
    height: 25px;
    width: 250px;
    margin-top: -44px;
    margin-left: -11px;
  }

  #shadow {
    width: 234px;
  }


  //SECTION PROFILE DESCRIPTION
  .profile-description-apresentations h2 {
    font-size: 36px;
  }

  .profile-description-apresentations p {
    font-size: 16px;
  }

  .profile-description-apresentations .card {
    width: 100%;
  }
}

//DESKTOP AND TABLET
@media only screen and (max-width: 976px) {
  .profile-description-apresentations .card {
    width: 80%;
  }
}