.icon-whatsapp {
    font-size: 60px;
    color: $color-4;
    position: fixed;
    bottom: 0;
    left: 5px;
}

.controllers {
    position: fixed;
    bottom: 0;
    right: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.controllers button {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 100%;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 5px 0;
    font-weight: bold;
    border-radius: 10px;
}

.controller-mode-template,
.controller-language {
    background-color: rgba(128, 128, 128, 0.384);
    width: 100%;
    padding: 7px;
}

.controller-mode-template .fa-sun {
    color: $color-5;
}

.controller-mode-template .fa-moon {
    color: $color-2;
}

.controller-mode-template .fa-sun,
.controller-mode-template .fa-moon {
    font-size: 20px;
}