//ABSOLUT COMPONENT'S SIDE
.icon-whatsapp {
    font-size: 60px;
    color: $color-4;
    position: fixed;
    bottom: 0;
    left: 5px;
}

.icon-whatsapp i{
    color: $color-2;
}

.controllers {
    position: fixed;
    bottom: 0;
    right: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.controllers button {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 100%;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 5px 0;
    font-weight: bold;
    border-radius: 10px;
}

.controller-mode-template {
    width: 100%;
    padding: 7px;
}

.controller-mode-template-primary {
    background-color: $color-6;
}

.controller-mode-template-secondary {
    background-color: $color-7;
}

.controller-mode-template-icon-primary {
    color: $color-1;
}

.controller-mode-template-icon-secondary {
    color: $color-2;
}

.controller-mode-template .fa-sun,
.controller-mode-template .fa-moon {
    font-size: 20px;
}

.controller-arrow-icon-template-primary {
    color: $color-1;
}

.controller-arrow-icon-template-secondary {
    color: $color-2;
}