@include container;
@include primary-buttom;
@include secondary-buttom;

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mode-template-primary {
    background-color: $color-3;
}

.mode-template-secondary {
    background-color: $color-1;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    font-weight: bold;
    margin: 0 10px;
}